
body {
    background-color: darkcyan;
    display: flex;
    justify-content: left;
    align-items: left;
    height: 200vh;
}

https://www.youtube.com/watch?v=JDn6OAMnJwQ ระบบlogin ทั้งหมด เอามาจากคลิปนี้


